@import "_import.scss";
@import "_component.scss";

.round-6 {
    border-radius: 70%;
    font-weight: bolder;
}

.plussign::before {
    content: "\2795";
}

.row-action {
    text-align: center;
    .delete-button {
        font-weight: bolder;
        color: #C70000
    }
    
    .delete-button:before {
        content: "\00d7";
    }
}

.adding-button {
    background-color: darkblue;
}